@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<style>
   body{
        color:white;
               width:100%;
    min-height:100vh;
    padding:1%;
    background-image:url(https://images.pexels.com/photos/5380659/pexels-photo-5380659.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-position:center;
    background-size:cover;
      
    }
</style>
<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
                </form>
        }
        else
        {
                <p>You have successfully logged out of the application.</p>
        }
    }
</header>
